@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://fonts.googleapis.com/css?family=Urbanist';

@font-face {
  font-family: 'GreyCliff';
  src: url('./assets/fonts/greycliff.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', Helvetica Neue, Helvetica, Arial,sans-serif;
}

#root {
  overflow-x: hidden;
}

.font-greycliff {
  font-family: 'GreyCliff';
}

.nav-right span {
  font-size: 0.91rem;
}

.header-ul {
  list-style-type: none;  
}

.header-ul > li {
  background-image: url('./assets/images/pink-checkmark.png');
  background-repeat: no-repeat;
  background-position: 0;
  background-size: contain;
  padding-left: 2em;
}

header > .content-wrapper .button-wrapper {
  width: 97%;
}

header > .content-wrapper .text-wrapper > .text-title {
  font-size: 2.7rem;
}

.features .contents {
  max-width: 950px;
  margin: 50px auto 0;
  display: flex;
}

.features .contents .cards {
  width: calc(50% - 40px);
}

.feature-card {
  position: relative;
  padding: 45px;
}

.feature-card::before {
  content: '';
  width: 40%;
  bottom: 0;
  position: absolute;
  top: 0;
  left: 30%;
  background-color: #cccccc;
  border-radius: 45%;
  display: none;
  animation: spread 3s ease-out;
}

@keyframes spread {
  0% {
    width: 40%;
    left: 30%;
    border-radius: 45%;
  }

  100% {
    width: 100%;
    background: red;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}

.feature-card:active::before {
  display: block;
}

.accordion {
  border-bottom: 1px solid rgb(216, 216, 216);
  overflow: hidden;
}

.accordion .body {
  max-height: 0rem;
  padding: 0;
  transition: all 0.15s ease-in;
}

.accordion .show {
  max-height: 500px;
  padding: 0.75rem 0;
  transition: all 0.15s ease-out;
}

.accordion-carret::after {
  border-style: solid;
  border-color: rgb(59, 130, 246);
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
  transition: all .3s;
}
.is-expanded::after {
  transform: rotate(225deg);
  transition: all .3s;
}

.select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
}
.select {
  position: relative;
}
.fieldset {
  border: 0.5px solid #12326b;
  border-radius: 0.375rem;
}

.fieldset .legend {
  font-size: 12px;
  padding: 0.5em;
  margin: 0;
}

.fieldset:hover, .fieldset:focus {
  border-width: 2px;
}

.select .options {
  position: absolute;
  background-color: #fff;
  box-shadow: 1px 1px 3px #cccccc;
  border-radius: 2px;
  width: 100%;
  left: 0;
  right: 0;
  top: 50%;
}

.select .options .option {
  cursor: pointer;
  padding: 0.5em;
}

.select .options .option:hover {
  background-color: rgba(78, 58, 58, 0.1);
}

@media screen and (max-width: 600px) {
  header > .content-wrapper .text-wrapper > .text-title {
    font-size: 2.2rem;
  }

  .header-ul > li {
    background-size: 25px;
    background-position-y: top;
  }

  .features .contents {
    margin: 100px auto 0;
  }

  .features .contents .cards {
    width: 100%;
  }

  .feature-card {
    text-align: center;
    padding: 25px;
  }

  .feature-buy-button {
    margin: 0 calc(100% - 83.33% - 1.5rem) 0;
  }
}