@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://fonts.googleapis.com/css?family=Roboto';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial,sans-serif;
}

.header-ul {
  list-style-type: none;  
}

.header-ul > li {
  background-image: url('./assets/images/pink-checkmark.png');
  background-repeat: no-repeat;
  background-position: 0;
  background-size: contain;
  padding-left: 3em;
}
